/* navbar */
.navbar-custom {
    background-color: #000;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.navbar-custom .nav-link:hover {
    color: #f8f9fa;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    padding: 0.5rem 1rem;
    font-weight: 500;
    color: #333;
}

.nav-link:hover {
    color: #007BFF;
}

/* homepage */
.homepage {
    margin: 20px auto;
    width: 70%;
}

.homepage h1 {
    margin: auto;
    width: 20%;
}


/* table content */
.table-container {
    margin: 20px auto;
    overflow-x: auto;
    width: 75%;
}